* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primaria: #132040fe;
  --color-secundaria: #09305a;
  --color-texto: #ffffff;
  --color-titulo: #7ABDE6;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-secundaria);
  color: var(--color-texto);
}

/*Mobile first */
@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--color-primaria);
  }

  .header .logoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header .logoTitulo .titulo path {
    fill: rgba(255, 255, 255, 0.521);
    stroke: #ffffff;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: desenhar 5s linear forwards;
  }

  @keyframes desenhar {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .header .logoTitulo .logo {
    width: 50px;
    border-radius: 50%;
  }

  .header .buttonMenu {
    background-color: transparent;
    border: none;
  }

  .header .buttonMenu .menuIcon {
    width: 20px;
    cursor: pointer;
  }
  .header .buttonFecharMenu{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    width: 10%;
    border: none;
    background-color: transparent;
  
   
  }

  .header .buttonFecharMenu .imgFecharMenu{
    width: 90%;
    
  }


  .header .navBar {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-weight: 700;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fbf6f6;
    clip-path: circle(0% at 100% 0%);
    gap: 50px;
    z-index: 998;
  }
   .header .navBar .buttonLinkMenu {
    border: none;
    background-color: transparent;
   }

  .header .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    padding: 10px;
    color: var(--color-primaria);
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
  }
  .header .navLink i{
    color: var(--color-secundaria);
    font-size:22px;
  }
  #iconeServico, #iconeContato{
    margin-left: 25px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
  }

  main .home {
    background: linear-gradient(rgba(0, 0, 0, 0.407), rgba(0, 0, 0, 0.5)), url("/assets/imagens/sam-tsonis-ozad4-l0cGY-unsplash.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  main .home .homeTitulo {
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.177);
  }

  main .home .homeDescricao {
    line-height: 1.5;
    font-size: 14px;
    max-width: 600px;
  }

  main .home .homeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-primaria);
    color: var(--color-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  main .home .buttonWhats {
    position: fixed;
    top: 80%;
    right: 10px;
    background-color: transparent;
    border: none;
    object-fit: cover;
    cursor: pointer;
  }

  main .home .buttonWhatsImg {
    animation: pulsar 1.9s infinite;

    width: 60px;
    border-radius: 30%;
    padding: 5px;
  }

  @keyframes pulsar {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 255, 150, 0.7);
    }

    50% {
      transform: scale(1.1);
      box-shadow: 0 0 0 15px rgba(0, 255, 150, 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 255, 150, 0);
    }
  }

  main .sobre {
    background: linear-gradient(rgba(0, 0, 0, 0.407), rgba(0, 0, 0, 0.5)), url("/assets/imagens/ ") no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    line-height: 1.5;
   
  }

  main .sobre .sobreTitulo {
    border-bottom: 1px solid var(--color-secundaria);
    border-right: 1px solid var(--color-secundaria);
    border:1px solid var(--color-secundaria) ;
    border-left: none;
    padding-right: 15px;
    border-radius: 5px;
    font-size: 28px;
    margin-bottom: 20px;
  }
  main span{
    color: var(--color-titulo);

  }

  main .sobre .sobreDescricao {
    text-align: justify;
    font-size: 14px;
    max-width: 600px;
  }

  main .servicos {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    padding: 20px;
    color: #000;
  }

  main .servicos .servicosTitulo {
     border-bottom: 1px solid var(--color-secundaria);
    border-right: 1px solid var(--color-secundaria);
    border:1px solid var(--color-secundaria) ;
    border-left: none;
    border-radius: 5px;
    font-size: 28px;
    margin-bottom: 20px;
    padding: 5px 15px 5px;
  }

  main .servicos .servicosLista {
    width: 100%;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }

  main .servicos .servicosLista .servicosItem {
    padding: 20px;
    border: 1px solid var(--color-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
    padding: 20px;
  }
  main .servicos .servicosLista .servicosItem i{
    color:var(--color-secundaria);
    margin-right:10px;
    font-size:20px;
}

  main .servicos .servicosLista #diagnostico {
    grid-column: 1 / -1;
  }

  main .servicosPrestados {
    background: linear-gradient(rgba(0, 0, 0, 0.407), rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }

  main .servicosPrestados .servicosPrestadosTitulo {
    font-size: 28px;
    margin-bottom: 20px;
  }

  main .servicosPrestados .servicosPrestadosItem {
    width: 100%;
  }

  main .servicosPrestados .servicosPrestadosItem .servicosPrestadosItemTitulo {
    font-size: 20px;
    margin-bottom: 30px;
  }

  main .servicosPrestados .servicosPrestadosItem .carrosselServicosPrestados .servicosPrestadosItemImagem {
    width: 100px;
    border-radius: 5px;
  }

  main .contato {
    background: linear-gradient(rgba(0, 0, 0, 0.407), rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  main .contato .contatoTitulo {
    font-size: 20px;
    margin-bottom: 20px;
  }

  main .contato .contatoDescricao {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    max-width: 600px;
    margin-bottom: 20px;
  }

  main .contato .contatoLista {
    list-style: none;
    width: 100%;
    text-align: justify;
  }

  main .contato .contatoLista li a {
    text-decoration: none;
    color: var(--color-texto);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  
  }

  main .contato .contatoLista li a img {
    width: 30px;
  }

  main .contato .contatoLista li a .email {
    background-color: #ffffffac;
    padding: 2px;
    border-radius: 5px;
    width: 25px;
    margin-left: 2px;
  }

  main .contato .contatoLista #endereco {
    font-size: 14px;
  }

  main .contato .horarioAtendimento {
    width: 80%;
    border: 1px solid var(--color-primaria);
    border-radius: 5px;
    padding: 10px;
    margin-top: 60px;
    line-height: 1.5;
  }

  main .contato .horarioAtendimento h4 {
    color: #fff;
    margin: 15px;
  }

  footer {
    background-color: #05182D;
    padding: 15px;
    text-align: center;
    font-size: 14px;
  }
}

.carrosselServicosPrestados img {
  width: 100px;
}