* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primaria: #132040fe;
  --color-secundaria: #09305a;
  --color-texto: #ffffff;
  --color-titulo: #7ABDE6;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.preloader{
  position: fixed;
  inset: 0;
  background-color:#050B16 ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transition: opacity .9s ease;
}
.preloader.esconder{
  opacity: 0;
}
.circular{
  position: absolute;
  border: 1px solid var(--color-titulo);
  border-left: #050B16;
  border-bottom: #000;
  width: 75px;
  height: 75px;
  border-radius: 50%;
   animation: girar 1.5s ease-out infinite;
}
#left{
  width: 90px;
  height: 90px;
  animation: girarLeft 2s ease-in infinite;
}
.imgPreloader{
  position: absolute;
  width: 60px;
  border-radius: 50%;
  box-shadow:
0 0 20px rgba(0,132,255,.4),
0 0 40px rgba(0,132,255,.25);
}
.texto{
  position: absolute;
  top: 60%;
  letter-spacing:3px;
  text-transform:uppercase;
}
.texto .ponto{
 font-size: 20px;
 opacity: .2;
 animation: pontinho 1.5s infinite;
}
.ponto:nth-child(1){
  animation-delay: .2s;
}
.ponto:nth-child(2){
  animation-delay: .4s;
}
.ponto:nth-child(3){
  animation-delay: .6s;
}
@keyframes pontinho {
  0%,100%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}

@keyframes girarLeft {
  to{
    transform: rotate(-360deg);
  }
}
@keyframes girar {
  to{
    transform: rotate(360deg);
  }
}

/*Mobile first */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--color-primaria);
    z-index: 999;
  }

  .header .logoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header .logoTitulo .titulo path {
    fill: rgba(255, 255, 255, 0.521);
    stroke: #ffffff;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: desenhar 5s linear forwards;
  }

  @keyframes desenhar {
    100% {
      stroke-dashoffset: 0;
    }
  }

  .header .logoTitulo .logo {
    width: 50px;
    border-radius: 50%;
  }

  .header .buttonMenu {
    background-color: transparent;
    border: none;
  }

  .header .buttonMenu .menuIcon {
    width: 20px;
    cursor: pointer;
  }

  .header .buttonFecharMenu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    width: 10%;
    border: none;
    background-color: transparent;


  }

  .header .buttonFecharMenu .imgFecharMenu {
    width: 90%;

  }


  .header .navBar {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-weight: 700;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fbf6f6;
    clip-path: circle(0% at 100% 0%);
    gap: 50px;
  }

  .header .navBar .buttonLinkMenu {
    border: none;
    background-color: transparent;
  }

  .header .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    padding: 10px;
    color: var(--color-primaria);
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
    z-index: 998;
  }

  .header .navLink i {
    color: var(--color-secundaria);
    font-size: 22px;
  }

  #iconeServico,
  #iconeContato {
    margin-left: 25px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
  }

  main hr {
    width: 90%;
    box-shadow: 2px 2px 5px #000;
  }
  main section h2{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
  }

  main .home {
  
    background:url("../imagens/sam-tsonis-ozad4-l0cGY-unsplash.svg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  main .home .homeTitulo {
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.177);
  }

  main .home .homeDescricao {
    line-height: 1.5;
    font-size: 14px;
    max-width: 600px;
  }

  main .home .homeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-primaria);
    color: var(--color-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  main .home .buttonWhats {
    position: fixed;
    top: 80%;
    right: 10px;
    background-color: transparent;
    border: none;
    object-fit: cover;
    cursor: pointer;
    width: 60px;
    z-index: 999;
  }

  main .home .buttonWhatsImg {
    animation: pulsar 1.9s infinite;

    width: 40px;
    background-color: #40C351;
    border-radius: 50%;
    padding: 5px;
  }

  @keyframes pulsar {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 255, 150, 0.7);
    }

    50% {
      transform: scale(1.1);
      box-shadow: 0 0 0 15px rgba(0, 255, 150, 0);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 255, 150, 0);
    }
  }

  main .sobre {
    background-color: #fff;
    color: #000;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    line-height: 1.5;

  }

  main .sobre .sobreTitulo {
    border-bottom: 1px solid var(--color-secundaria);
    border-right: 1px solid var(--color-secundaria);
    border: 1px solid var(--color-secundaria);
    border-left: none;
    padding-right: 15px;
    border-radius: 5px;
    font-size: 28px;
    margin-bottom: 20px;
  }

  main span {
    color:#0D6EFD;

  }

  main .sobre .sobreDescricao {
    text-align: justify;
    font-size: 14px;
    max-width: 600px;
  }

  main .servicos {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    padding: 20px;
    color: #000;
  }

  main .servicos .servicosTitulo {
    border-bottom: 1px solid var(--color-secundaria);
    border-right: 1px solid var(--color-secundaria);
    border: 1px solid var(--color-secundaria);
    border-left: none;
    border-radius: 5px;
    font-size: 28px;
    margin-bottom: 20px;
    padding: 5px 15px 5px;
  }

  main .servicos .servicosLista {
    width: 100%;
    height: 450px;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;

  }

  main .servicos .servicosLista .servicosItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid var(--color-primaria);
    display: flex;
    margin: 12px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #00000023;
  }

  main .servicos .servicosLista .servicosItem:active {
    transition: .6s all;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(102, 179, 242, 0.151)
  }

  main .servicos .servicosLista .servicosItem i {
    top: 10px;
    color: var(--color-secundaria);
    margin-right: 10px;
    font-size: 20px;
  }

  main .servicos .servicosLista #diagnostico {
    grid-column: 1 / -1;
  }

  main .servicosPrestados {
    width: 100%;
    overflow: hidden;
    background: radial-gradient(
    circle at center,
    #0B1528 0%,
    #08101D 40%,
    #040811 100%);
    display: flex;
    flex-direction: column;
  }
   main .servicosPrestados p{
    text-align: center;
    font-size: 14px;
    margin: 10px;
   }
.servicosPrestadosContainer{
  display: flex;
  flex-direction: colomn;
  width: 340px;
  margin: 10px;
  border: 1px solid #0a84ff75;
  box-shadow:
0 0 10px rgba(10, 132, 255, 0.175); 


}
.servicosPrestadosContainer .containerImg{
  width: 50%;
  margin: 25px 0  20px 20px;
  
}
.servicosPrestadosContainer .containerTexto{
  text-align: center;
  padding: 10px;
}
.servicosPrestadosContainer .containerTexto button{
  border: 1px solid var(--color-secundaria);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #0a84ffc8;
}
.servicosPrestadosContainer .containerTexto button:hover{
  background-color: #0a84ff;
  color: #fff;
  transition: 1s all;
}
.servicosPrestadosContainer img{
  width:100%;
  object-fit: cover;
}
.servicosPrestadosContainer .tituloServico{
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
  color: var(--color-titulo);
}
.servicosPrestadosContainer .descricaoServico{
  font-size: 14px;
  padding: 10px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-texto);
}

  main .contato {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  main .contato .contatoTitulo {
    font-size: 20px;
    margin-bottom: 20px;
  }

  main .contato .contatoDescricao {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    max-width: 600px;
    margin-bottom: 20px;
  }

  main .contato .contatoLista {
    list-style: none;
    width: 100%;
    text-align: justify;
  }

  main .contato .contatoLista li a {
    text-decoration: none;
    color: var(--color-texto);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

  }

  main .contato .contatoLista li a img {
    width: 30px;
  }
   main .contato .redesSocias{
    margin-top: 10px;
    padding: 10px;
  }
  main .contato .redesSocias h2{
    font-size: 20px;
  }
   main .contato .redesSocias a img {
    width: 30px;
    margin: 10px;
   }
  main .contato .redesSocias a #insta{
    width: 28px;
  }
 

  main .contato .contatoLista li a .email {
    background-color: #ffffffac;
    padding: 2px;
    border-radius: 5px;
    width: 25px;
    margin-left: 2px;
  }

  main .contato .contatoLista #endereco {
    font-size: 14px;
  }

  main .contato .horarioAtendimento {
    width: 80%;
    border: 1px solid var(--color-primaria);
    border-radius: 5px;
    padding: 10px;
    margin-top: 60px;
    line-height: 1.5;
  }

  main .contato .horarioAtendimento h4 {
    color: #fff;
    margin: 15px;
  }

  footer {
    background-color: #000;
    padding: 15px;
    text-align: center;
    font-size: 14px;
  }


@media (min-width: 768px){
  .header .buttonMenu .menuIcon {
    width: 30px;
  }
  .header .buttonFecharMenu {
    width: 8%;
  }
  .header .buttonFecharMenu .imgFecharMenu {
    width: 90%;
  }
  .header .navLink i {
    color: var(--color-secundaria);
    font-size: 25px;
  }

  main .home .homeTitulo{
    font-size: 48px;
  }
  main .home .homeButton, .homeDescricao  {
    font-size: 17px;
  }
  main .home .buttonWhatsImg {
     width: 50px;
  }
   main .sobre{
    display: flex;
   }
  main .sobre .sobreTitulo, main .servicos .servicosTitulo  {
    
    font-size: 36px;
  }
  main .sobre .sobreDescricao {
    align-self: center;
    font-size: 17px;
    width: 100vw;
  }
  main .servicos .servicosLista .servicosItem {
    justify-content: space-evenly;
    font-size: 17px;
  }
  main .servicos .servicosLista .servicosItem i {
    font-size: 22px;
  }

  main .servicos .servicosLista #diagnostico {
    height: 100px;
  }

  main .servicosPrestados .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
   main .servicosPrestados p{
    text-align: center;
    font-size: 15px;
    margin: 10px;
   }
.servicosPrestadosContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 340px;
}
.servicosPrestadosContainer .containerImg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

  main .contato {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  main .contato .contatoTitulo {
    font-size: 22px;
    margin-bottom: 20px;
  }

  main .contato .contatoDescricao {
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
    max-width: 600px;
    margin-bottom: 20px;
  }

  main .contato .contatoLista {
    list-style: none;
    width: 100%;
    text-align: justify;
  }

  main .contato .contatoLista li a {
    text-decoration: none;
    color: var(--color-texto);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

  }

  main .contato .contatoLista li a img {
    width: 35px;
  }

  main .contato .contatoLista li a .email {
    background-color: #ffffffac;
    padding: 2px;
    border-radius: 5px;
    width: 25px;
    margin-left: 2px;
  }

  main .contato .contatoLista #endereco {
    font-size: 17px;
  }

  main .contato .horarioAtendimento {
    font-size: 17;
    width: 80%;
    border: 1px solid var(--color-primaria);
    border-radius: 5px;
    padding: 10px;
    margin-top: 60px;
    line-height: 1.5;
  }

  main .contato .horarioAtendimento h4 {
    font-size:22px ;
    color: #fff;
    margin: 15px;
  }

  footer {
    background-color: #000;
    padding: 15px;
    text-align: center;
    font-size: 17px;
  }


}

@media (min-width: 1024px){
  .header .navBar {
    clip-path:none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 81px;
    background-color:transparent ;
    
  }
  .header .navBar .navLink{
    display: flex;
    justify-content: none;
    gap: 0;
    width: 100px;
    color: #fff;
    margin-right: 10px;
  }
  .header .buttonMenu .menuIcon, .header .buttonFecharMenu, .imgFecharMenu, .header .navLink i {
    display: none;
  }
  main .home .homeTitulo{
    font-size: 48px;
    
  }
  main .home .homeButton, main .home .homeDescricao  {
    font-size: 18px;
  }
  main .home .buttonWhatsImg {
     width: 50px;
  }
   main .sobre{
    display: flex;
   }
  main .sobre .sobreTitulo, main .servicos .servicosTitulo  {
    font-size: 42px;
    margin-bottom: 55px;
    border-top: none;
    border-right: none;
  }
  main .sobre .sobreDescricao {
    align-self: center;
    font-size: 18px;
    width: 100vw;
  }
  main .servicos .servicosLista{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .servicos .servicosLista .servicosItem, main .servicos .servicosLista #diagnostico {
    display: flex;
    justify-content: center;
    gap: 32px;
    box-shadow: 3px 2px 5px #1320404b;
    border: 1px solid #13204025;
    width: 200px;
    height: 300px;
    font-size: 18px;
    transition: .6s ease-in-out   ;
  }
    main .servicos .servicosLista .servicosItem:hover {
    transform: scale(1.1);
    transition:.6s ease-in-out;
    box-shadow: 0 0 15px rgba(102, 179, 242, 0.151)
  }
  main .servicos .servicosLista .servicosItem i {
    font-size: 25px;
  }
  
  main .servicosPrestados .buttonCarrossel{
    display: none;
  }
  main .servicosPrestados .servicosPrestadosTitulo {
    font-size: 36px;
    position: relative;
    z-index: 2;
  }
  main .servicosPrestados .carrossel {
    width: 90%;
    height: 700px;
    border: none;
    box-shadow: none;
    z-index: 1;
  }

  main .servicosPrestados .carrossel .carrosselServicosPrestados {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    height: 700px;
   
  }

  main .servicosPrestados .carrossel .carrosselServicosPrestados .servicosPrestadosItemImagem {
    object-fit: cover;
    width: 250px;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ffffff8c;
      box-shadow: 2px 2px 5px #1320404b;
    border: 1px solid #13204025;

  }

  main .contato {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  main .contato .contatoTitulo {
    font-size: 25px;
    margin-bottom: 20px;
  }

  main .contato .contatoDescricao {
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
    max-width: 600px;
    margin-bottom: 20px;
  }

  main .contato .contatoLista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    list-style: none;
    width: 70%;
    text-align: justify;
  }

  main .contato .contatoLista li a {
    text-decoration: none;
    color: var(--color-texto);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;

  }

  main .contato .contatoLista li a img {
    width: 35px;
  }

  main .contato .contatoLista li a .email {
    background-color: #ffffffac;
    padding: 2px;
    border-radius: 5px;
    width: 25px;
    margin-left: 2px;
  }

  main .contato .contatoLista #endereco {
    font-size: 17px;
  }

  main .contato .horarioAtendimento {
    font-size: 17;
    width: 80%;
    border: 1px solid var(--color-primaria);
    border-radius: 5px;
    padding: 10px;
    margin-top: 60px;
    line-height: 1.5;
  }

  main .contato .horarioAtendimento h4 {
    font-size:22px ;
    color: #fff;
    margin: 15px;
  }

  footer {
    background-color: #000;
    padding: 15px;
    text-align: center;
    font-size: 17px;
  }


}
